body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(220, 220, 220, 0.438);
    justify-content: space-around;
    
}
#mainDiv{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    padding: 10px;
}
#header{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 10px;
    background-color: rgb(139, 166, 189);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100%;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    
}
#h1{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 3rem;
    background: linear-gradient(
        to right,
        rgba(115, 0, 255, 0.9),
        rgba(255, 0, 187, 0.9),
        rgba(255, 0, 38, 0.9)
    );
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    align-items: center;
}

#budget{
    background-color:rgba(159, 170, 159, 0.1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
#bal-div{
    text-align: center;
    padding: 5px;
    margin:5px;
}

#incomeExpense{
    
    padding: 5px;
}
#bal-div h1{
    font-weight: 900;
    color: aliceblue;
}
#bal-div{
    border-bottom: 5px solid skyblue;
    padding: 5px;
    border-radius:5px ;
}
#balance{
    background-color: rgb(151, 95, 160);
    padding: 5px;
    font-weight: 900;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#incomeExpense h2{
    font-weight: 900;
    color: aliceblue;
}
#totalincome{
    background-color: indianred;
    padding: 5px;
    width: auto;
    
}
#totalexpense{
    background-color: rgb(10, 42, 117);
    padding: 5px;
    width: auto;
}
#income-div input,button{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    
}

#add{
    background-color: blueviolet;
    border: none;
    width: 20%;
    color: aliceblue;
    font-weight:900;
}
#expense {
    background-color: rgba(134, 152, 134, 0.1);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
}
#expense h2{
    text-align: center;
    background-color: cornflowerblue;
    color: aliceblue;
    padding: 5px;
    margin:5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 900;
}
#expense #amount, #description{
    padding:5px;
    border:none;
    border-radius:5px;
    margin:5px
}
#category{
    background-color: rgb(32, 232, 165);
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border:none;
    color:aliceblue
}
#addexp{
    background-color: red;
    color: aliceblue;
    font-weight: 900;
    padding: 10px;
    margin-left:10px
}
aside{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:10px;
    margin: 5px;
    margin-left: auto;

}
#output-h1{
    background-color: blueviolet;
    padding:5px;
    margin:5px;
    color: aliceblue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
}
#added{
    font-weight: 900;
}
#output{
    background-color: rgba(220, 220, 220, 0.438);
    padding: 10px;
    width: 38%;

}



