body{
    background-image: url(Copilot_20251219_222813.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#form{
    background-color:white;
    width: 50%;
    padding: 10px;
    position: relative;
    border:2px solid gold;
    margin-top: 0%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
h1,p{
    text-align: center;
}
#h1{
    color: rgba(222, 229, 233, 0.886);
    position: absolute;
    left: 40%;
    font-size:3rem;
}
#header{
    color: rgb(255, 136, 0);
    font-size: 2rem;
} 
input{
    width: 100%;
    padding: 5px;
    padding: 5px;
    border-color: rgb(228, 219, 219);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#date,#time{
    width: 49%;
}
button{
    background-color: rgb(255, 136, 0);
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}