#header_div{
    background-color: lightblue;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
}
#filter{
    margin-left: auto;
    padding: 5px;
    height: 30px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

#form,h2{
    font-style: italic;
    padding: 5px;
}
#submit{
    padding: 5px;
    background-color: green;
    border-radius: 5px;
    border: none;
    width: 10%;
    color: aliceblue;
    font-style: italic;
}
#fruit_name{
    padding: 5px;
    margin: 10px;
    border:2px solid skyblue;
    border-radius: 5px;
    width: 35%;
}
ul.fruits{
    background-color: pink;
    padding: 10px;
    border-radius: 5px;
    list-style-type: none;
    max-width: 50%;

}
li.fruits{
    background-color: blanchedalmond;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.del-btn{
    margin-left: auto;
    background-color: brown;
    color: aliceblue;
    border: none;
    padding: 5px;
    border-radius: 5px;
    border: none;
}






