form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 30px;
    
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;

}
body{
    background-color: rgb(240, 183, 191);
    margin: 20px;
}
h1{
    text-align: center;
    font-style: oblique;
    font-weight: 900;
    color: aliceblue;

}
input{
    padding: 5px;
    border-color: rgb(42, 114, 165);
    width: 100%;
    border-radius: 5px;
}
#submit{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: rgb(43, 168, 226);
    font-style: oblique;
    font-weight: 900;
    background-color: rgb(75, 78, 80);
}  
label{
    color: aliceblue;
    font-weight: 900;
    font-style: oblique;
}
ul{
    flex: 1 1 300px;
    padding: 20px;
    max-width: 40%;
    display:flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 5px;

}
