body{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

form{
    flex: 1;
    max-width: 300px;
}
div{
    flex: 1;
    max-width: 300px;
}
ul{
    list-style-type: none;
    padding: 0;
}