.submit{
    padding: 10px;
    width: 10%;
    background-color: rgb(63, 223, 35);
}
.user-list{
    background-color: pink;
    margin-top: 10px;
    width: 50%;
    padding:10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.fruit-list{
    background-color: beige;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.submit{
    width: 10%;
}
form{
    font-family :Georgia, 'Times New Roman', Times, serif;
}
.add-fruit{
    width: 40%;
}
.search{
    height: 40px;
}
