body{
    background-image:url(Loading_.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    padding: 20px;
}



#div,#div2{
    padding: 20px;
    margin: 10px;
    background: rgba(255, 255,255, 0.1) ;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 30px;
    
}

#header1{
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
    color: aliceblue;
    padding: 20px;
    width:100%
}

#header,#header2{
    padding: 10px;
    color: azure;
    font-weight: 900;
}
label{
    margin-left: 15px;
}
input{
    display: block;
    margin-left: 20px;
    width: 70%;
    padding: 5px;
    border-radius: 5px;
    border-color: blueviolet;
}
button{
    padding: 10px;
    border-radius: 5px;
    border-color: blueviolet;
    background-color: aquamarine;
    color: blueviolet;
    width: 50%;
    margin-left: 20px;
} 
form,aside{
    flex: 1 1 300px;
    max-width: 500px;
}



